@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Itim&family=Lancelot&display=swap');

.main-container {
    text-align: center;
    padding: 30px 20px;
    font-family: 'Klee One', cursive;
}

.main-title {
    font-size: 30px; 
    font-weight: lighter;
    margin-bottom: 0px;
    color: #303030; 
    font-family: 'Lancelot', cursive;
}

.main-subtitle {
    font-size: 20px; 
    margin-bottom: 40px;
    color: #666; 
}

.featured-categories {
    margin-top: 0px;
    font-family: 'Lancelot', cursive;
}

.featured-categories h2 {
    font-size: 30px;
    margin-bottom: 0px;
    color: #555;
    font-family: 'Itim', cursive;
}

.categories-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px; 
}

.category-item {
    height: 400px; 
    width: 280px; 
    text-align: center;
    transition: transform 0.3s; 
    text-decoration: none; 
}

.category-item img {
    width: 100%;
    height: 60%; 
    object-fit: cover; 
    border-radius: 25px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.category-item img:hover {
    transform: scale(1.1); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}

.category-item p {
    margin-top: 12px;
    font-size: 18px; 
    color: #333;
    font-weight: bold;
    font-family: 'Klee One', cursive;
    text-decoration: none; 
}

.category-item a {
    text-decoration: none;
    color: inherit; 
}

h1, h2, p {
    margin: 0px;
}