.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: mistyrose;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.form-label {
    text-align: left;
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: ivory;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

textarea.form-control {
    height: 100px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #777df2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
}
